@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body
{
	text-overflow: hidden;
}

section
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #1c1c25;
}

section:before
{
	content: '';
	position: absolute;
	bottom: -40%;
	left: 40%;
	width: 600px;
	height: 600px;
	background: linear-gradient(#f00,#f0f);
	border-radius: 50%;
	overflow-y: hidden;
}
.card
{
	position: relative;
	width: 500px;
	height: 314px;
	transform-style: preserve-3d;
	perspective: 500px;
}

.card .face
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 15px 35px rgba(0,0,0,0.5);
	border-radius: 15px;
	background: rgba(225, 225, 225, 0.05);
	backdrop-filter: blur(1px);
	transform-style: preserve-3d;
	transition: 1s;
	backface-visibility: hidden;
}

.card:hover .face.front
{
	transform: rotateY(180deg);
}

.card .face.back
{
	transform: rotateY(180deg);
}

.card:hover .face.back
{
	transform: rotateY(360deg);
}

.card .face.front::before
{
	content: '';
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	opacity: 0.5;
}

.card .face.front::after
{
	content: '';
	position: absolute;
	bottom: 40px;
	right: 80px;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 50%;
	opacity: 0.7;
}

.card .face.front .dobit
{
	position: absolute;
	left: 40px;
	top: 30px;
	color: #fff;
	font-weight: 500;
}

.card .face.front .bank
{
	position: absolute;
	right: 40px;
	top: 15px;
	color: #fff;
	font-weight: 500;
	font-style: italic;
	font-size: 24px;
}

.card .face.front .chip
{
	position: absolute;
	top: 80px;
	left: 50px;
	max-width: 64px;
}

.card .face.front .number
{
	position: absolute;
	bottom: 130px;
	left: 40px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 6px;
	font-size: 16px;
	text-shadow: 0 2px 1px #0005;
	font-family: 'Orbitron', sans-serif;
}

.card .face.front .vaild
{
	position: absolute;
	bottom: 90px;
	left: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 300;
	line-height: 1em;
	text-align: right;
}

.card .face.front .vaild span:last-child
{
	margin-left: 20px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.card .face.front .cardowner
{
	position: absolute;
	bottom: 40px;
	left: 40px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 2px;
}

.card .face.back .blackbar
{
	position: absolute;
	top: 40px;
	width: 100%;
	height: 60px;
	background: #000;
}

.card .face.back .ccvtext
{
	position: absolute;
	top: 120px;
	left: 10px;
}

.card .face.back .ccvtext h5
{
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.card .face.back .ccvtext .whitebar
{
	position: absolute;
	width: 400px;
	height: 40px;
	background: #fff;
	margin-top: 5px;
}
.card .face.back .ccvtext .ccv
{
	position: relative;
	background: #ccc;
	color: #111;
	width: 50px;
	height: 30px;
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 395px;
	top: 10px;
}

.card .face.back .text
{
    position: absolute;
    bottom: 30px;
    left: 13px;
    right: 30px;
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 300;
    top: 222px;
}